[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/17che/
Environment="PYTHONPATH=/home/str/17che/"
ExecStart=/home/str/17che/.venv/bin/python /home/str/17che/bot_main.py

[Install]
WantedBy=multi-user.target